.product-card{

position:relative;

background:#111;

border:1px solid gold;

border-radius:20px;

overflow:hidden;

transition:.3s;

}

.product-card:hover{

transform:translateY(-8px);

box-shadow:

0 8px 25px

rgba(255,215,0,.25);

}

.card-img-top{

height:320px;

object-fit:cover;

}

.card-body{

text-align:center;

padding:25px;

}

.card-title{

color:white;

font-size:24px;

font-weight:bold;

}

.card-text{

color:#bbb;

}

.price{

font-size:34px;

font-weight:bold;

color:gold;

margin:20px 0;

}

.btn-warning{

background:gold !important;

border:none !important;

font-weight:bold;

border-radius:30px;

padding:12px;

}

.favorite-icon{

position:absolute;

top:15px;

right:15px;

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#111;

color:gold;

font-size:28px;

cursor:pointer;

z-index:100;

transition:.3s;

}

.favorite-icon:hover{

background:gold;

color:black;

transform:scale(1.1);

}