<div class="container mt-5">
  <div class="row">

    @for (i of infoIndumentaria; track i.id) {

      <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

        <div class="card h-100">

          <!-- Badge oferta -->
          @if (i.enOferta) {

            <span class="offer-badge">
              🔥 OFERTA
            </span>

          } @else {

            <span class="normal-badge">
              Nuevo
            </span>

          }

          <!-- Imagen -->
          <img
            [src]="i.img"
            class="card-img-top"
            [alt]="i.alt"
          >

          <!-- Body -->
          <div class="card-body d-flex flex-column">

            <h5 class="card-title">
              {{ i.titulo }}
            </h5>

            <p class="card-text">
              {{ i.descripcion }}
            </p>

            <p class="card-text">
              {{ i.descripcion2 }}
            </p>

            <!-- Precio -->
            @if (i.enOferta && i.precioOferta) {

              <div class="prices">

                <span class="old-price">
                  ${{ i.precio.toLocaleString() }}
                </span>

                <span class="new-price">
                  ${{ i.precioOferta.toLocaleString() }}
                </span>

              </div>

            } @else {

              <p class="price">
                ${{ i.precio.toLocaleString() }}
              </p>

            }

            <!-- Botón -->
            <a href="#" class="btn btn-primary mt-auto">
              Añadir al carrito
            </a>

          </div>
        </div>

      </div>

    }

  </div>
</div>