/* CONTENEDOR */

.container{

padding-bottom:60px;

}

/* CARD */

.product-card{

position:relative;

background:#111;

border:1px solid #c9a227;

border-radius:18px;

overflow:hidden;

transition:.3s ease;

width:100%;

box-shadow:

0 4px 15px rgba(0,0,0,.4);

}

.product-card:hover{

transform:translateY(-8px);

box-shadow:

0 8px 25px rgba(201,162,39,.3);

}

/* IMAGEN */

.card-img-top{

width:100%;

height:300px;

object-fit:cover;

display:block;

}

/* BODY */

.card-body{

padding:20px;

text-align:center;

}

/* TITULO */

.card-title{

color:white;

font-size:26px;

margin-bottom:12px;

font-weight:bold;

}

/* DESCRIPCION */

.card-text{

color:#bbb;

font-size:15px;

margin-bottom:10px;

}

/* PRECIO */

.price{

color:gold;

font-size:34px;

font-weight:bold;

margin:20px 0;

}

/* BOTON */

.btn-warning{

display:inline-block !important;

background:gold !important;

color:black !important;

border:none !important;

padding:12px 24px !important;

border-radius:30px !important;

font-weight:bold !important;

transition:.3s !important;

}

.btn-warning:hover{

background:white !important;

color:black !important;

transform:scale(1.05);

}

/* OFERTA */

.offer-badge{

position:absolute;

top:15px;

left:15px;

background:red;

color:white;

font-size:12px;

font-weight:bold;

padding:6px 12px;

border-radius:20px;

z-index:100;

}

/* NUEVO */

.normal-badge{

position:absolute;

top:15px;

left:15px;

background:gold;

color:black;

font-size:12px;

font-weight:bold;

padding:6px 12px;

border-radius:20px;

z-index:100;

}

/* RESPONSIVE */

@media(max-width:768px){

.card-img-top{

height:240px;

}

.card-title{

font-size:22px;

}

.price{

font-size:28px;

}

}